<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aion Shard</title>
</head>
<body>
<header>
    <a href="http://www.aion-shard.com/">
        <img alt="logo aion shard" id="logo-header" class="mail-header" src="http://51.178.130.119/media/logo.png">
    </a>
</header>

</body>

<div class="text-color main-text">
    <h1>Something went wrong ! :'(</h1>
    <p>You need to recreate one I guess !</p>

</div>

<style>
    body {
        background-image: url("http://51.178.130.119:80/media/background3.jpg");
    }

    .main-text {
        margin: auto;
        width: 500px;
        padding: 20px 40px;
    }

    .text-color {
        background-color: rgba(0, 0, 0, 0.6);
        color: #f7f8fb;
        font-size: 120%;
    }

</style>
</html>
