What a great news !

You wish to join us on Aion Shard by creating your account.
Please complete your subscription by cliking on the following button before ${date}:

                http://api.aion-shard.com:8081${link.verification}"

Having a Shard account enable you to :
- play on Aion Shard Server,
- connect to the web site,
- buy on the Shard Shop,
- participate on the Shard Forum.

See you in Game, Nyark !

The Aion Shard Team


# Baniere Aion Shard
