<html>
    <h1>What a great news !</h1>

    <p>You wish to join us on Aion Shard by creating your account.</p>
    <p>Please complete your subscription by cliking on the following button before ${date}:</p>

    <a style="background-color: red;border: 1px red solid; border-radius: 2px; text-decoration: none;" href="http://api.aion-shard.com:8081${link.verification}">Valid your account !</a>

    <p>Having a Shard account enable you to :</p>
    <ul>
        <li>play on Aion Shard Server</li>
        <li>connect to the web site</li>
        <li>buy on the Shard Shop</li>
        <li>participate on the Shard Forum</li>
    </ul>

    <p>See you in Game, Nyark !</p>

    <p>The Aion Shard Team</p>
</html>
